DATABASE_MODE=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_CUSTOMER_ID=
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_REFRESH_TOKEN=
HOST=
LOG_LEVEL=
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
OPENAI_API_KEY=
OPENAI_MODEL=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TARGET_NUMBER=
WHATSAPP_TOKEN=